/* My Awesome Styles */
#treeTop {
}

#smoke1 {
}
#smoke2 {
}
#smoke3 {
}
#smoke4 {
}
#smoke5 {
}
#smoke6 {
}

.hide {
  opacity: 1;
  transition: 3s;
}

.hide:hover {
  opacity: 0;
}

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* * {
  outline: 1px dotted black;
} */

/* Doodle Stage */
#stage {
  background: #ccc;
  width: 900px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
