/*Performant keyframe animations*/

/* My Awesome Styles */
#treeTop {
}

#smoke1 {
}
#smoke2 {
}
#smoke3 {
}
#smoke4 {
}
#smoke5 {
}
#smoke6 {
}

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* * {
  outline: 1px dotted black;
} */

/* Doodle Stage */
#stage {
  display: flex;
  flex-direction: column;
}

#stageImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*toggle for day and night*/
.day {
  opacity: 0;
  transition: 6s;
}

#day {
  position: absolute;
}

/*button*/
#triggergrid {
  background: black;
  border-radius: 5px;
  margin: 10px;
  width: 700px;
  height: 50px;
  transition: 400ms;
}

#triggergrid:hover {
  background: darkslategrey;
}
